@media(width >= 1440px){
    header{
        padding-top: 71px;
    }
    main{
        flex-direction: row;
        height: 603px;
        column-gap: 0;
        margin-top: 64.5px;
    }
    .box{
        margin-top: -103px;
        width: 350px;
height: 453px;
flex-shrink: 0;
    }
    .btn2{
        width: 288px;
height: 44px;
flex-shrink: 0;
    }
    .box2{
        width: 350px;
height: 500px;
flex-shrink: 0;
    }
}